.calendar-container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.calendar-container table {
	border: unset;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: unset0;
	border-spacing: 0;
}
.calendar {
	/*font-family: arial, verdana, sans serif;*/
	/*font-family: inherit;*/
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

	}

.calendar caption{
	/*font-family: arial, verdana, sans serif;*/
	/*font-family: inherit;*/
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

	}

.calendar th{
	border: .5em solid #eee;
	width:13%;
	padding:0;
	}

.calendar td{
	border: .5em solid #eee;
	word-break: unset;
	}

.calendar-title{
	text-align:center;
	font-style:italic;
	}

.calendar-day-title{
	text-align:center;
	font-size:small;
	background:#ccc;
	font-weight:bold;
	}

.calendar-day, .calendar-outmonth-day {
	height:5em;
	vertical-align:top;
	text-align: center;
	font-size: small;
	padding:0px;
	width:13%;
	}

.calendar-day-number{
	text-align: right;
	background: #ddd;
	color:#000;
	}

.calendar-content{
	padding:2px;
	font-size: small;
	}

.calendar-outmonth-day {
	color:#000;
	font-style: italic;
	background: #ddd;
	}

	.wp-block-event-post-date-meta-block{
		width:15%;
	}
	.wp-block-event-post-time-meta-block{
		width: 15%;
	}
	.wp-block-event-post-end-time-meta-block{
		width: 15%;
	}

	.calendars_table {
		width:50%;
	}
	.admin_calendar_row{
		text-align:left;
		font-size:small;
		background:#ccc;
		font-weight:bold;
		padding-left:.5em;
	}

	.calendars_table td{
		padding-left:.5em;
	}
	.styles_table td{
		padding	: 0 .5em;
	}
