.calendar {
	font-family: arial, verdana, sans serif;
	}

.calendar td{
	border: .5em solid #eee;
	}

.calendar title{
	text-align:center;
	font-style:italic;
	}

.calendar-day-title{
	text-align:center;
	font-size:small;
	background:#ccc;
	font-weight:bold;
	}

.calendar-day, .calendar-outmonth-day {
	height:60px;
	vertical-align:top;
	text-align: center;
	font-size: small;
	padding:0px;
	}

.calendar-day-number{
	text-align: right;
	background: #ddd;
	color: #000000;
	}

.calendar-content{
	padding:2px;
	font-size: x-small;
	}

.calendar-outmonth-day {
	color:#666;
	font-style: italic;
	background: #ddd;
	}

